* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 6rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: #40739e;
  --base-color-second: #192a56;
  --base-color-alt: #273c75;
  --title-color: #192a56;
  --text-color: #192a56;
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
  background-color: #f5f6fa;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

.divisor{
  width:300px;
  height:5px;
  margin: 7rem auto;
  background-color: var(--base-color);
  
}

#header {
  border-bottom: 1px solid #e4e4e4;

  display: flex;
  height: var(--header-height);
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

main {
  margin-top: calc(var(--header-height));
}

/*====  LOGO ============================ */
.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--title-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 85px;
}

/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
  color: var(--base-color-second);
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
  font-weight: bold;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/******** main ******/

#home {
  height: calc(100vh - var(--header-height));
  background-image: url(/assets/images/calagem-banner.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#home {
  padding: 0;
}

.opacity {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
}

#home .container {
  height: 100%;
  width: 100%;
}

.home-content {
  padding: 2rem 1rem;
  height: 100%;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
}

.home-content-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  gap: 3rem;
  height: 100%;
}

.home-content-cover {
  display: none;
  justify-content: center;
  align-items: center;
}

.home-content h1 {
  font-size: 2.8rem;
  margin: 0 auto;
}

.home-content p {
  font-size: 1rem;
  width: 90%;
  margin: 0 auto;
}

.home-content .home-content-description button {
  width: 130px;
  height: 40px;
  font-size: 0.9rem;
  background-color: var(--base-color);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}

.home-content button:hover {
  transform: scale(1.1);
}

/*********** about ****************/

#about {
  margin-top: -2rem;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  padding: 15rem 2rem;
}

.about-content {
  display: grid;
  gap: 2rem;
}
.about-content:nth-child(2) {
  margin-top: 2rem;
}

.about-content .about-description {
  display: grid;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.about-content .about-description h3 {
  color: var(--base-color-second);
}

.about-content .about-cover {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-content .about-cover img {
  max-width: 500px;
}

/******** cards *************/

#services {
  background-image: url(/assets/images/precisionagriculture.png);
  background-size: cover;
  background-position: bottom start;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--base-color);
}

#services .opacity {
  padding: 8rem 0;
}

#services h2 {
  margin: 2rem 1rem;
  height: 4rem;
  border-left: 8px solid var(--base-color);
  padding-left: 2rem;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  color: white;
}

.cards {
  width: 100%;
  display: grid;
  gap: 1rem;
}

.card-item {
  width: 90%;
  max-width: 300px;
  height: 700px;
  margin: 0 auto;
  padding: 3rem 0.7rem;
  background-color: var(--base-color);
  display: grid;
  grid-template-rows: 200px 600px 1fr;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  color: white;
  border-radius: 0 20px 20px 20px;
}

.card-item-content {
  display: grid;
  gap: 2rem;
}

.card-item-content i {
  font-size: 4rem;
  color: white;
}

.card-item-content ul {
  display: grid;
  gap: 1rem;
}

#precision {
  background-color: #192a56;
  padding: 8rem 0 12rem 0;
  color: white;
}

.precision-content {
  display: grid;
  gap: 2rem;
}

.precision-description {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 2.5rem;
  max-width: 400px;
}

.precision-description h3 {
  font-size: 2rem;
  border-left: 7px solid var(--base-color);
  padding-left: 1.3rem;
  font-weight: bold;
}

.precision-cover {
  max-width: 400px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.precision-cover img {
  margin: 0 auto;
}

#savia {
  margin-top: -10rem;
}

#savia h3 {
  font-size: 2rem;
}

.savia-wrapper {
  background-color: white;
  display: grid;
  grid-template-rows: 500px auto;
  grid-template-columns: 1fr;

  -webkit-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
}

.savia-cover {
  background-image: url(../images/maleta2.png);
  background-size: cover;
  background-position: bottom center;
}

.savia-wrapper .savia-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
}

.savia-wrapper .savia-content a {
  padding: 1rem 2rem;
  background-color: #40739e;
  color: white;
  display: inline-block;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.savia-wrapper .savia-content h3 {
  text-align: center;
  font-size: 1.1rem;
}

.savia-wrapper .savia-content p {
  text-align: center;
  font-size: 1.1rem;
}

.savia-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 2rem;
  justify-content: center;
  align-items: center;
}

.savia-cards .card {
  padding: 2rem 1rem;
  /*background-color: #192a56;*/
  border: 2px solid #f5f6fa;
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr;

  text-align: center !important;

  gap: 2rem;
  color: #40739e;
  font-size: 1rem;

  height: 220px;
}

.savia-cards .card:hover {
  background-color: #f5f6fa;
  transform: scale(1.1);
  transition: all 0.2s;
}

.savia-cards .card i {
  font-size: 3rem;
}

.savia-cards .card p {
  color: #192a56;
}

#eletronics .eletronics-header {
  height: 520px;
  background: url(../images/calcareo.png);
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}

#eletronics .eletronics-header .opacity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--body-color);
  font-size: 1.5rem;
}

#eletronics .eletronics-header .opacity .container h2 {
  width: 90%;
  max-width: 500px;
  font-size: 2.5rem;
}

.eletronics-resume {
  margin-top: 5rem;

  display: grid;
  gap: 4rem;

  padding: 3rem 1rem;
}

.eletronic-item,
.station-item {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
  grid-template-rows: 400px 3fr;
  
}



.eletronic-item:nth-child(1) .cover {
  background: url(../images/tx-variavel.png);
  background-size: cover;
  background-position: center;
}

.eletronic-item:nth-child(3) .cover {
  background: url(../images/orientation.png);
  background-size: cover;
  background-position: center;
}

.eletronic-item:nth-child(5) .cover {
  background: url(../images/cover-sbox.png);
  background-size: cover;
  background-position: center;
}

.eletronic-item .content,
.station-item .content {
  display: grid;
  gap: 2rem;
}

.eletronic-item .content a,
.station-item .content a {
  width: 140px;
  height: 50px;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  background-color: #40739e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}


.eletronic-item .content a:hover,
.station-item .content a:hover, a{

  filter: brightness(.9);


}

.eletronic-item .content ul,
.station-item .content ul {
  
  display: grid;
  gap: 1rem;
}




#tempo .tempo-header {
  height: 520px;
  background: url(../images/temp.png);
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}

#tempo .tempo-header .opacity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--body-color);
  font-size: 1.5rem;
}

#tempo .tempo-header .opacity .container h2 {
  width: 90%;
  max-width: 500px;
  font-size: 2.5rem;
}



.station-item:nth-child(2) .cover {
  background: url(../images/lorarain.png);
  background-size: cover;
  background-position: center;
}

.station-item:nth-child(4) .cover {
  background: url(../images/ecod3_2.png);
  background-size: cover;
  background-position: center;
}

.station-item:nth-child(6) .cover {
  background: url(../images/metosag.jpeg);
  background-size: cover;
  background-position: center;
}


#form-contact{

  width: 100%;
  background: url(../images/form-bg.jpeg);
  background-size: cover;
  background-position:center;
}


#form-contact .container{
  width: 100%;
}

#form-contact .content{
  width: 100%;
  display: grid;
  gap: 2rem;
  padding: 5rem 1rem;

  background-color: rgba(0, 0  , 0, 0.4)

}

#form-contact .content .header{
  color: white;
  display: grid;
  gap: 1rem;

}


#form-contact .content .header h3{
  font-size: 2rem;
}


#form-contact .content form{
  width: 100%;
  color: white;
  display: grid;
  gap: 2rem;
}

#form-contact .content form input{

  width: 100%;
  height:50px;
  padding: 1rem;
  outline: none;

}

#form-contact .content form input[type="submit"]{
  width: 160px;
  background-color: #40739e;
  color: white;
  border : none;
  transition: all 0.2s;
  
}

#form-contact .content form input[type="submit"]:hover{
  filter: brightness(.9);  
}

#form-contact .content form textarea{

  width: 100%;
  padding: 1rem;
  font-family: 'DM Sans', sans-serif;
  outline: none;
}


footer{

  padding: 6rem 2rem;
  background: #2F3640;
  color: white;

}


footer .container .content .header{
  display: flex;
  align-items: center;
  gap: 2rem;
}

footer .container .content .header img{
  width: 30px;
}

footer .container .content {
  display: grid;
  gap: 2rem;
  
}

.adress-item {
  margin: 6rem 0;
  display: grid;
  gap: 1rem;
}

.adress-item h4{
  font-size: 1.3rem;
  border-left: 4px solid #40739E;
  padding-left: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adress-item h4 img{
  width: 120px;
}

.adress-item .item {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  
}


a.item{
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  
}


.py-socialmedia{
  display: grid;
  gap: 1rem;
  font-size: 1.3rem
}


footer .logos{
  width: 100%;
  height:200px;
 
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}

footer .logos img{
  width: 120px;
}


.footer-logo{
  width:100px;
  margin: 10rem 0;
  
}






@media (min-width: 900px) {
  .savia-wrapper {
    background-color: white;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr;

    -webkit-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
  }

  .savia-wrapper .savia-content {
    justify-content: left;
    align-items: none;
    padding: 4rem 3rem 4rem 5rem;
  }

  .savia-wrapper .savia-content h3 {
    text-align: left;
    margin: 0;
  }

  .savia-wrapper .savia-content > p {
    text-align: left;
  }

  .savia-cards {
    flex-direction: row;
    margin: 0;
    padding: 2rem 0;
  }

  .savia-cards .card {
    text-align: center !important;
  }

  .savia-wrapper .savia-content a {
    margin: 0;
  }

  #eletronics .eletronics-header {
    background-position: center;
  }

  #eletronics .eletronics-header .opacity .container h2 {
    font-size: 3.5rem;
  }

  .eletronics-resume {
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    gap: 2rem;
  }

  .eletronics-resume p {
    width: 80%;
  }

  .eletronic-item,
  .station-item {
    display: grid;
    gap: 2rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;

    /* -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); */
  }

  .eletronic-item .content,
  .eletronic-item .content {
    
    padding: 2rem 4rem 2rem 2rem;
  }

  .metos-ag{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }



  #form-contact .container{
    display: flex;
    justify-content: flex-end;
  }
  
  #form-contact .content{
    width: 600px;
  
  }


  footer .container .content {
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    
  }


  .py-adress,
  .br-adress{
    max-width: 400px;
  }
}

@media (min-width: 1150px) {
  .button {
    height: 3.125rem;
  }

  .container,
  .home-content {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .home-content h1 {
    font-size: 4rem;
  }

  .home-content p {
    font-size: 1.2rem;
  }

  .home-content .home-content-description button {
    width: 180px;
    height: 50px;
    font-size: 1.1rem;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  nav .menu {
    visibility: visible;
    opacity: 1;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
  }

  nav .icon-menu {
    display: none;
  }

  /* main layout */

  main {
    margin-top: var(--header-height);
  }

  .home-content {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-rows: 100%;
    text-align: left;
  }

  .home-content p,
  .home-content h1 {
    margin: 0;
  }

  .home-content .home-content-description button {
    margin: 0;
  }

  /********* about ********/

  .about-content {
    grid-template-columns: 1fr 1fr;
  }

  .about-content .about-description {
    text-align: start;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }

  .about-content .about-description h3 {
    border-left: 5px solid var(--base-color-second);
    padding-left: 0.6rem;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .about-content .about-description.inverse {
    order: 2;
    justify-content: flex-end;
    text-align: end;
    padding-left: 10rem;
  }

  .about-content .about-description.inverse h3 {
    border-right: 5px solid var(--base-color-second);
    padding-right: 0.6rem;
    border-left: none;
    padding-left: 0;
  }

  /*********** cards **********/

  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .card-item {
    padding: 1.5rem 3rem;
  }

  .precision-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
