* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: #40739e;
  --base-color-second: #192a56;
  --base-color-alt: #273c75;
  --title-color: #192a56;
  --text-color: #192a56;
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: 5rem 0;
}

.section .title {
  margin-bottom: 1rem;
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

main {
  margin-top: calc(var(--header-height));
}

/*====  LOGO ============================ */
.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--title-color);
}

.logo img {
  width: 60px;
}

/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
  color: var(--base-color-second);
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
  font-weight: bold;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/******** main ******/

#home {
  height: calc(100vh - var(--header-height)+2rem);
  background-image: url(/assets/images/banner.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#home {
  padding: 0;
}

.opacity {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
}

#home .container {
  height: 100%;
  width: 100%;
}

.home-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 3rem;
}

.home-content h1 {
  font-size: 3rem;
}

.home-content p {
  font-size: 1rem;
  width: 90%;
}

.home-content button {
  width: 120px;
  height: 40px;
  background-color: var(--base-color);
  color: white;
  border: none;
  border-radius: 5px;
}

.home-content button:hover {
  transform: scale(1.1);
}

/*********** about ****************/

#about {
  margin-top: -2rem;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  background-color: #40739E;
  /* background-color: var(--base-color);
  background-image: url(/assets/images/texture.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom start;
  background-repeat: no-repeat; */
}

.about-content {
  display: grid;
  gap: 2rem;
}
.about-content:nth-child(2) {
  margin-top: 2rem;
}

.about-content .about-description {
  display: grid;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.about-content .about-description h3 {
  color: var(--base-color-second);
}

.about-content .about-cover {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-content .about-cover img {
  max-width: 400px;
  width: 90%;
}


/******** cards *************/


#services{
    background-image: url(/assets/images/precisionagriculture.png);
    background-size: cover;
    background-position: bottom start;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#services h2{
    margin: 2rem 1rem;
    height: 4rem;
    border-left: 8px solid var(--base-color-second);
    padding-left: 2rem;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
}

.cards {
    width: 100%;
    display: grid;
    gap: 1rem;

}

.card-item{
    width: 90%;
    max-width: 300px;
    height: 700px;
    margin: 0 auto;
    padding: 3rem .7rem;
    background-color: var(--base-color);
    display: grid;
    grid-template-rows: 200px 600px 1fr;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: white;
    border-radius: 0 20px 20px 20px;
}

.card-item-content{
    display: grid;
    gap: 2rem;
}

.card-item-content i{
    font-size: 4rem;
    color: white;
}

.card-item-content ul{
    display: grid;
    gap: 1rem;
    
}

#precision{
    background-color: #192a56;
    padding: 8rem 0;
    color: white;
    
}


.precision-content{
    display: grid;
    gap: 2rem;
}

.precision-description{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 2.5rem;
    max-width: 400px;
}

.precision-description h3{
    font-size: 2rem;
    border-left: 7px solid var(--base-color);
    padding-left: 1.3rem;
    font-weight: bold;
}

.precision-cover{
    max-width: 400px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.precision-cover img{
    margin: 0 auto;
}


#savia .savia-header{
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;

}


#savia .savia-header img{
  width: 120px;
}

.savia-content .content-cover {
  display: grid;
  align-items: center;
}

.savia-content .content-cover img{
  width: 80%;
}


.savia-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-template-rows: 700px;
  
}


.savia-content .content-description{
  display: grid;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.savia-content .content-description .desctiption-text{

  display: flex;
  flex-direction: column;
  
  gap: 2rem;

}

.savia-content .content-description .desctiption-text ul{
  display: grid;
  gap: 1rem;
}







@media (min-width: 1100px) {
  .button {
    height: 3.125rem;
  }

  .container,
  .home-content {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  nav .menu {
    visibility: visible;
    opacity: 1;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
  }

  nav .icon-menu {
    display: none;
  }

  /* main layout */

  main {
    margin-top: var(--header-height);
  }

  .home-content {
    max-width: 400px;
    margin: 0;
    align-items: flex-start;
    text-align: start;
  }

  /********* about ********/

  .about-content {
    grid-template-columns: 1fr 1fr;
  }

  .about-content .about-description {
    text-align: start;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    
  }

  .about-content .about-description h3 {
    border-left: 5px solid var(--base-color-second);
    padding-left: 0.6rem;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .about-content .about-description.inverse {
    order: 2;
    justify-content: flex-end;
    text-align: end;
    padding-left: 10rem;
  }

  .about-content .about-description.inverse h3 {
    border-right: 5px solid var(--base-color-second);
    padding-right: 0.6rem;
    border-left: none;
    padding-left: 0;
  }

  /*********** cards **********/

  .cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-item{
    padding: 1.5rem 3rem;
}


.precision-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



}
